#define IDC_GRP_HOST 100
#define IDC_GRP_OPTIONS 200
#define IDC_STC_URL 101
#define IDC_EDT_URL 102
#define IDC_CHK_SHOW_HELPDIALOGS 201
#define IDC_CHK_CREATE_BACKUPS 202
#define IDC_STC_BACKUP_PATH 203
#define IDC_EDT_BACKUP_PATH 204
#define IDC_BTN_BACKUP_PATH 205
DIALOGSETUP DIALOGEX 6,5,254,147
CAPTION "OA32 Web Updater Setup"
FONT 8,"MS Sans Serif",400,0
STYLE 0x80C80880
EXSTYLE 0x00080001
BEGIN
  CONTROL "OK",IDOK,"Button",0x50010001,182,125,58,15
  CONTROL "Update Host",IDC_GRP_HOST,"Button",0x50000007,8,5,236,37
  CONTROL "&URL",IDC_STC_URL,"Static",0x50000200,20,20,18,11
  CONTROL "",IDC_EDT_URL,"Edit",0x50010080,42,20,190,13,0x00000200
  CONTROL "Options",IDC_GRP_OPTIONS,"Button",0x50000007,8,49,236,67
  CONTROL "&Show help dialogs",IDC_CHK_SHOW_HELPDIALOGS,"Button",0x50010003,22,64,94,9
  CONTROL "&Create Backups",IDC_CHK_CREATE_BACKUPS,"Button",0x50010003,22,79,90,9
  CONTROL "&Backup path",IDC_STC_BACKUP_PATH,"Static",0x58000200,34,94,42,13
  CONTROL "",IDC_EDT_BACKUP_PATH,"Edit",0x58010180,80,94,130,13,0x00000200
  CONTROL "...",IDC_BTN_BACKUP_PATH,"Button",0x58010000,216,94,16,13
  CONTROL "Cancel",IDCANCEL,"Button",0x50010000,118,125,58,15
END
