* { box-sizing:border-box; margin:0; padding:0; }

body { font-family:Arial, Helvetica, sans-serif; font-size:14px; padding:10px; background:#eeeeee; line-height:1; }

strong, b { font-weight:bold; }
em, i { font-style:italic; }
u { text-decoration:underline; }

#header { margin:0 auto; text-align:center; }
#header h1 { margin:0 auto; text-align:center; font-size:32px; font-weight:bold; }
#header a { text-decoration:underline; color:black; }

#content { margin:20px auto 0 auto; font-size:14px; padding:20px; border:1px solid #333333; max-width:960px; background:#ffffff; }
#content h2 { font-size:16px; margin:20px 0 5px 0; font-weight:bold; }
#content h2:first-child { margin-top:0; }

#content ol, #content ul {
	margin-left: 10px;
}
#content ol li {
	margin:0 0 10px 20px;
	list-style-type:decimal;
}
#content ol ul li, #content ul li {
	margin: 4px 0 4px 20px;
	line-height: 16px;
	list-style-type:disc;
}

#content ul li ul li {
	list-style-type:circle;
}

#content p {
	font-size: 14px;
	line-height: 14px;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	margin-bottom: 10px;
	page-break-before: always;
	page-break-after: always;
}

#content pre {
	font-family: "Lucida Console", "Courier New", Courier, mono;
	font-size: 12px;
	text-decoration: none;
	letter-spacing: normal;
	text-align: left;
	vertical-align: top;
	word-spacing: normal;
	white-space: pre;
	margin: 10px 50px;
	padding: 5px;
}

#content .notice { padding:5px; border:1px solid #cccccc; margin-bottom:10px; }

.listing { border-collapse:collapse; border-spacing:0; width:100%; margin:10px 0; }
.listing thead th { font-weight:bold; text-align:left; padding-bottom:3px; }
.listing tbody td { border:1px solid #666666; padding:5px; }
.listing tbody tr:hover td { background:#eeeeff; }
.listing th, .listing td { vertical-align:middle; }

.listing .name { }
.listing .topics, .listing .posts, .listing .replies { width:70px; text-align:center; }
.listing .date { width:140px; text-align:center; }
.listing .size { width:70px; text-align:right; }

.listing tr:nth-child(even) td { background:#f4f4f4; }
.listing .nested td.name { padding-left:15px; }

.post { width:100%; margin-bottom:20px; border:1px solid #333333; padding:10px; }
.post:nth-child(even) { background:#f4f4f4; }
.post .subject { margin:2px 0; border-bottom:1px solid #333333; font-weight:bold; }
.post .subject a { text-decoration:none; }
.post .body { margin:5px 0; }
.post .meta { margin-top:5px; padding-top:5px; border-top:1px solid #333333; font-size:12px; }
.post img { max-width:100%; margin:2px 0; }
.post .attachments { margin-top:5px; padding-top:5px; border-top:1px solid #333333; font-size:12px; }

.post pre, .post .quote { border:1px solid #cccccc; padding:10px; }
.post pre code { white-space:normal; display:block; overflow-y:scroll; max-height:200px; }
.post pre br:first-child, .quote br:first-child { display:none; }
.post pre br:last-child, .quote br:last-child { display:none; }

.post .quote {
	background:#dddddd;
	font-size:12px;
}

.pagination { width:100%; margin:10px 0; }
.pagination a, .pagination input { display:inline-block; margin:0 10px 0 0; padding:0; }
.pagination input[type="number"] { width:100px; }

.clear { clear:both; }

.text-left { text-align:left; }
.text-right { text-align:right; }
.text-center { text-align:center; }

.mono { font-family: "Lucida Console", "Courier New", Courier, mono; }
.strike { text-decoration: line-through; }
